.logo{
    padding: 1em;
    background: rgba(255, 255, 255, 0.1);
}

.noPadding{
    padding: 0.5em;
}
.logo h2{
    color:white;
    text-align: center;
    padding: 0.2em;
    border:1px solid white;
    margin: 0;

}