.ant-collapse {
    background-color: transparent;
     border:0px;
}



.kabanCol .ant-card-body {
    background: none;
    background-color: transparent;
}

.kabanCol .ant-card-head {
    background: white;
    border-radius: 1em;
}

.kabanCol .ant-card-head {
    background: white;
    border-radius: 1em;
}.kabanCol>.ant-card-body {
    padding: 0;
}