.ant-layout {
    height: 100vh;
}
#components-layout-demo-custom-trigger .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .site-layout .site-layout-background {
    background: #fff;
    overflow: auto;
  }

  

  main {
    padding: 30px;
    background: #f0f2f5;
    min-height: 280px;
  }
  main.ant-layout-content.site-layout-background {
    background: aliceblue;
}
span.anticon.anticon-caret-right {
  font-size: 1em;
  margin: 0;
}

.priceBox p {
  padding: 0;
  margin: 0.4em;
}
.Price{
  float: right;
}