.boxMessage{
    width: 80%;
    padding: 1em;
    border-radius: 10px;
    color: white;
    margin-bottom: 10px;
}


.send{
    background: #3A648C;
    float: right;

}

.receive{
    background: #1a2d3f;
    float: left;
}

.boxMessage >p>span {
    float: right;
}
.boxMessage .ant-divider{
    margin: 10px 0;
    border-color: rgba(255, 255, 255, 0.5);
}



.messages .ant-card-body{
display: flex;
flex-direction: column;
justify-content: flex-end;
height: 80vh;
}

.contentBox{
    overflow: auto;
}
.footer{
    display: flex;
    width: 100%;
}
.footer>textarea{
    width: 75%;
    height: max-content;
}
.footer>.ant-space{
    margin: auto;
}