p.status {
    border-radius: 5em;
    display: inherit;
    padding: 2px 15px 2px 15px;
    color:white;
    text-align: center;
    width: 7em;
}


.done{
    background:#52c41a;
        color:white;

}
.toDo{
    background:#1890ff;
    color:white;

}


.inProgress{
    background:#faad14;
    color:white;

}


.ant-card.ant-card-bordered.kabanCol {
    background: none;
    background-color: transparent;
    border: none;
}

.ant-card.ant-card-bordered.kabanItem {
    border-radius: 1em;
    width: 100%;
}

.kabanCol > .ant-card-head {
    background: white;
    border-radius: 1em;
    font-weight: 700;
}

.do >.ant-card-head {
    background: #1c90ff;
    color: white;
}
.progress>.ant-card-head {
    background: #faad13;
    color: white;
}
.don> .ant-card-head{
    color: white;
    background: #53c519;
}