.topMenu{
    font-size: 1.2em;
    color: #313131;
    line-height: 3em;

}

.topMenu>span{
    font-size: 1.5em;
}
span.anticon.anticon-menu-fold.trigger{
    display: flex;
}
span.anticon.anticon-menu-fold.trigger>svg{
margin:auto
}

header.ant-layout-header.site-layout-background{
    justify-content: space-between;
    display: flex;
    padding: 0.5em 1em 0.5em 1em!important;
}