
@import '~antd/dist/antd.css';

.App {
  text-align: center;
}
/*  style="-webkit-app-region: drag" style={{*/
.dragger{
    background:#001529;
    width:100%;
    padding-left: 70px;
    -webkit-app-region: drag;
    position: fixed;
    z-index: 100;
    
}

.dragger>div{
    padding: 10px;
    display: flex;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

*{
  font-family: 'Raleway', sans-serif;
}
.App-link {
  color: #001529;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
